<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <connectionStrings>
    <!--<add name="CAConnection" connectionString="Database=ChannelAdvisor;Server=DELL-BOB\SQLEXPRESS;Integrated Security=true"/>-->
    <add name="CAConnection" connectionString="Data Source=LUSYA\SQLEXPRESS;Initial Catalog=channeladvisor; User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <add name="AccessConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; User Id=; Password=; Data Source={0}" />
  </connectionStrings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="CAServiceLog.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} - %m%n" />-->
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <!--<add key="log4net.Internal.Debug" value="true"/>-->
    <add key="ExcelConString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties=Excel 12.0" />
    <add key="Excel2007ConString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties=Excel 12.0" />
    <add key="ExcelConStringIMEX" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;IMEX=1;'" />
    <add key="ExcelConStringIMEXwithoutHeader" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=No;IMEX=1;'" />
    <add key="ExcelConStringWithHeader" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0; HDR=No;IMEX=1;MAXSCANROWS=0;'" />
    <add key="CsvConStringWithHeader" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Text; HDR=No;FMT=Delimited(,)';" />
    <add key="CSVFTP" value="132.148.245.57" />
    <add key="CSVFTPUser" value="inventory1" />
    <add key="CSVFTPPsw" value="Bdentry2!" />
    <add key="morrisLogin" value="bargainsd"/>
    <add key="morrisPsw" value="bdentry2"/>

    <add key="cachepath" value="cache" />
    <add key="cacheFileName" value="cache.csv" />
    <!-- for testing there was created test gmail account -->
    <add key="smtpHost" value="smtp.gmail.com" />
    <add key="smtport" value="587" />
    <add key="smtemail" value="channelad2019@gmail.com" />
    <add key="smtpassword" value="channelAdvisor_01" />
    <add key="adminemail" value="npak2007@gmail.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>